<%= turbo_frame_tag :my_schedules_list do %>
  <div class="flex flex-col gap-2">
    <% @schedule_presenters.each do |presenter| %>
      <div class="card py-3 px-4 flex flex-row justify-between items-baseline gap-4">
        <% if @edit_mode %>
          <%= button_to account_profile_schedule_path(presenter.schedule),
                        method: :delete,
                        form: { class: 'absolute top-1 right-2', data: { turbo_stream: true } },
                        class: 'delete_card' do %>
            <%= icon 'x-mark', class: 'w-5 h-5' %>
          <% end %>
        <% end %>
        <div class="font-base mono text-gray-100 whitespace-nowrap">
          <%= presenter.display_time_range %>
        </div>
        <div class="mr-10 flex gap-1 flex-wrap shrink justify-end">
          <% presenter.display_days.each do |day| %>
            <span class="py-0.5 px-2 rounded-2xl text-xs bg-gray-800"><%= day %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
