<div>
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-xl font-semibold flex items-center gap-2">
      <%= image_tag('logo.svg', class: 'w-7 h-7 inline') %>
      <%= t '.title' %>
    </h2>
    <% if @edit_mode %>
      <%= link_to find_account_profile_games_path,
                  class: 'cta flex items-center gap-2',
                  data: { turbo_frame: :modal } do %>
        <%= icon 'plus', class: 'w-5 h-5' %>
        <%= t '.add_game' %>
      <% end %>
    <% end %>
  </div>
  <div data-controller="submit"
       data-action="turbo:click->submit#submitStart turbo:before-fetch-response->submit#submitEnd">
    <div data-submit-target="spinner"
         class="absolute inset-0 bg-black/80 hidden rounded-xl flex items-center justify-center z-20">
    </div>
    <%= turbo_frame_tag :my_games_list, src: account_profile_games_path(@profile) %>
  </div>
</div>
