<div>
  <div class="flex items-center justify-between mb-6 gap-2">
    <h2 class="text-xl font-semibold flex items-center gap-2">
      <%= icon 'calendar-days', class: 'w-7 h-7 inline text-brand-purple' %>
      <%= t '.title' %>
    </h2>
    <% if @edit_mode %>
      <%= link_to new_account_profile_my_schedule_path,
                  class: 'cta flex items-center gap-2 px-2',
                  data: { turbo_frame: :modal } do %>
        <%= icon 'plus', class: 'w-5 h-5' %>
        <%= t '.add_time' %>
      <% end %>
    <% end %>
  </div>
  <div data-controller="submit"
       data-action="turbo:before-fetch-request->submit#submitStart turbo:before-fetch-response->submit#submitEnd"
       data-submit-target="spinner"
       data-submit-wrapper-classes-value='["rounded-xl", "z-20"]'>
    <%= turbo_frame_tag :schedules_list, src: account_profile_schedules_path(@profile) %>
  </div>
</div>
