<% block_class = 'relative bg-gray-800 rounded-xl border border-gray-700 p-6 sm:p-8 mb-6' %>
<div class="<%= block_class %>">
  <%= render 'account/profiles/base_info' %>
</div>
<div class="<%= block_class %>">
  <%= render 'account/profiles/games_info' %>
</div>
<div class="grid md:grid-cols-2 gap-4">
  <div class="<%= block_class %>">
    <div data-controller="submit"
         data-action="turbo:before-fetch-request->submit#submitStart turbo:before-fetch-response->submit#submitEnd"
         data-submit-target="spinner"
         data-submit-wrapper-classes-value='["rounded-xl", "z-20"]'
         class="calendar">
      <%= turbo_frame_tag :schedule_calendar, src: calendar_account_profile_schedules_path(@profile) %>
    </div>
  </div>
  <div class="<%= block_class %>">
    <%= render 'account/profiles/schedules_info' %>
  </div>
</div>
